@media (min-width: 320px) {

    main {
        row-gap: 0.5rem;
    }

    .maincontainer {
        width: 8.563rem;
        height: 12.094rem;
    }

    .thecard {
        width: 100%;
        height: 100%;
    }

    .thefront {
        width: 100%;
        height: 100%;
    }

    .theback {
        width: 100%;
        height: 100%;
    }

    .game_cover {
        width: 100%;
        height: 100%;
    }

    .description {
        flex-direction: column;
        gap: 0.188rem;
    }

    .description_item {
        flex-direction: column;
        gap: 0;
    }

    h1 {
        font-size: 0.875rem;
    }

    h3 {
        font-size: 0.688rem;
    }

    p {
        font-size: 0.688rem;
    }

    button,
    .extra {
        width: 100%;
        height: 1rem;
        font-size: 0.813rem;
        gap: 0.313rem;
        padding: 0.25rem;
    }

    button>img {
        width: 0.75rem;
    }

    .extra_double>a>.extra {
        width: 3.75rem;
    }
}

@media (min-width: 375px) {

    main {
        row-gap: 0.5rem;
    }
}

@media (min-width: 425px){
    .maincontainer {
        width: 8.438rem;
        height: 11.813rem;
    }
}

@media (min-width: 768px) {

    main {
        justify-content: space-evenly;
        flex-direction: row;
    }

    .maincontainer {
        width: 14.25rem;
        height: 19.375rem;
    }

    .description{
        gap: 0.75rem;
    }

    h1 {
        font-size: 1.438rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    p {
        font-size: 0.875rem;
    }

    button,
    .extra {
        width: 100%;
        height: 1.563rem;
        font-size: 1.25rem;
        gap: 0.313rem;
        padding: 0.25rem;
    }

    .extra{
        font-size: 1.125rem;
    }

    button>img {
        width: 1rem;
    }

    .extra_double>a>.extra {
        width: 3.75rem;
        font-size: 0.813rem;
    }
}

@media (min-width: 1024px) {
    .maincontainer {
        width: 18.125rem;
        height: 25rem;
    }

    h1 {
        font-size: 1.625rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    p {
        font-size: 1.063rem;
    }

    button,
    .extra {
        width: 100%;
        height: 2.188rem;
        font-size: 1.25rem;
        gap: 0.313rem;
        padding: 0.625rem;
    }

    .extra{
        font-size: 1.25rem;
    }

    button>img {
        width: 1.25rem;
    }

    .extra_double>a>.extra {
        width: 3.75rem;
        font-size: 1rem;
    }
}