@media (min-width: 320px) {

    main {
        row-gap: 0.5rem;
    }

    .maincontainer {
        width: 137px;
        height: 193.5px;
    }

    .thecard {
        width: 100%;
        height: 100%;
    }

    .thefront {
        width: 100%;
        height: 100%;
    }

    .theback {
        width: 100%;
        height: 100%;
    }

    .game_cover {
        width: 100%;
        height: 100%;
    }

    .description {
        flex-direction: column;
        gap: 1px;
    }

    .description_item {
        flex-direction: column;
        gap: 0;
    }

    h1 {
        font-size: 14px;
    }

    h3 {
        font-size: 11px;
    }

    p {
        font-size: 11px;
    }

    button,
    .extra {
        width: 100%;
        height: 16px;
        font-size: 13px;
        gap: 5px;
        padding: 4px;
    }

    button>img {
        width: 12px;
    }

    .extra_double>a>.extra {
        width: 60px;
    }
}

@media (min-width: 375px) {

    main {
        row-gap: 0.5rem;
    }
}

@media (min-width: 425px){
    .maincontainer {
        width: 135px;
        height: 189px;
    }
}

@media (min-width: 768px) {

    main {
        justify-content: space-evenly;
        flex-direction: row;
    }

    .maincontainer {
        width: 228px;
        height: 310px;
    }

    h1 {
        font-size: 23px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    button,
    .extra {
        width: 100%;
        height: 25px;
        font-size: 20px;
        gap: 5px;
        padding: 4px;
    }

    .extra{
        font-size: 18px;
    }

    button>img {
        width: 16px;
    }

    .extra_double>a>.extra {
        width: 60px;
        font-size: 13px;
    }
}

@media (min-width: 1024px) {
    .maincontainer {
        width: 290px;
        height: 400px;
    }

    h1 {
        font-size: 26px;
    }

    h3 {
        font-size: 22px;
    }

    p {
        font-size: 18px;
    }

    button,
    .extra {
        width: 100%;
        height: 35px;
        font-size: 20px;
        gap: 5px;
        padding: 4px;
    }

    .extra{
        font-size: 20px;
    }

    button>img {
        width: 20px;
    }

    .extra_double>a>.extra {
        width: 60px;
        font-size: 13px;
    }
}