/*-------------Regras Gerais-------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {

    --white: #ffffff;
    --red: #f53d3d;
    --red_active: #fa898c;
    --green: rgb(55, 194, 55);
    --green_active: #80c985;
    --mega_font_active: #a7a7a7;
    --torrent_font: #ffffff;
    --torrent_font_active: #ffffff;
    --extra_btn: #000000;
    --extra_btn_active: #242424;

}

/*===========Configs da Scrollbar===========*/

::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 3.125rem;
    background-color: var(--red);
    /* border: 2px solid rgb(73, 73, 73); */
}

::-webkit-scrollbar-button{
    display: none;
}

/* ::-webkit-scrollbar-track {
    background: rgb(73, 73, 73);
    border-radius: 10px;
} */

/*-------------Keyframes-------------*/

@font-face {
    font-family: 'Font';
    src: url(../fonts/typo_round/Typo_Round_Regular_Demo.otf);
}

/*-------------Unificações-------------*/

div,
.search_input,
.delete_btn,
.link,
span,
abbr,
.bar,
.dropdown,
.dropdown_item>a,
fieldset,
.slides_labels,
button,
.add_game_container,
.deleteGameModalWindow,
.deleteButtonsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

body,
main,
.mode_label,
.main_menu_item,
.dropdown_items,
i,
#form,
#formback,
fieldset,
.description,
.minimumrequirements,
#mainContent {
    display: flex;
}

/*-------------Header-------------*/

header {
    z-index: 1;
    width: 100%;
    height: 55px;
    text-align: center;
    border-bottom: 2px solid var(--red);
    background-color: white;
    transition: 1s;
}

/*-------------Menu de Navegação-------------*/

nav {
    width: 100%;
}

.main_menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
}

/*-------------Botão de Troca de Modo-------------*/

.mode_btn {
    width: 290px;
}

.mode_label {
    width: 55px;
    height: 26px;
    align-items: center;
    background-color: yellow;
    border-radius: 50px;
    margin: 5px;
    justify-content: space-evenly;
    position: relative;
    cursor: pointer;
}

.checkbox {
    width: 55px;
    height: 26px;
    opacity: 0;
    position: absolute;
}

.checkbox:checked+.mode_label .ball {
    transform: translateX(29px);
}

.mode_label>i {
    margin: 0;
    font-size: 16px;
    position: relative;
}

.mode_label>.bi-sun-fill {
    color: grey;
}

.mode_label>.bi-moon-fill {
    color: grey;
}

.mode_label .ball {
    z-index: 1;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

/*-------------Itens Principais do Menu de Navegação-------------*/

.main_menu_item {
    width: 127px;
    height: 55px;
    justify-content: center;
}

*>i {
    color: var(--red);
}

.main_menu_item>a>i,
.bi {
    font-size: 25px;
}

.main_menu_item>a>i:hover,
.dropdown>i:hover {
    padding: 5px;
    border-bottom: 2px solid var(--red);
}

.main_menu_item>a>i:hover,
.main_menu_item.dropdown>i:hover {
    transform: scale(1.2);
}

.main_menu_item>a>i::after,
.main_menu_item.dropdown>i::after {
    color: var(--red);
}

i:hover {
    cursor: pointer;
}

/*-------------Item Dropdown do Menu de Navegação-------------*/

.dropdown {
    z-index: 1;
    gap: 5px;
    flex-direction: column;
    position: relative;
}

.dropdown>i {
    position: absolute;
}

.dropdown_items {
    margin-top: 70px;
    height: 0px;
    display: none;
    gap: 10px;
    flex-direction: column;
}

.dropdown_item {
    background-color: var(--red);
    border-radius: 10px;
    width: 170px;
    height: 30px;
    padding: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.322);
}

.dropdown_item:hover {
    transform: scale(1.1);
}

.dropdown_item>a {
    font-weight: bolder;
    width: 100%;
    height: 100%;
}

.dropdown_item>a:hover {
    transform: scale(1.1);
}

/*-------------Input de Caixa de Pesquisa-------------*/

.search_input {
    width: fit-content;
    height: fit-content;
    gap: 10px;
}

.search_box {
    width: 200px;
    height: 30px;
    border: 1px solid var(--red);
}

.search_box::placeholder {
    color: var(--red);
}

.search_box:active {
    background-color: rgba(0, 0, 0, 0.185);
}

.search_btn {
    color: var(--red);
    font-size: 12px;
    background-color: transparent;
    border: 1px solid var(--red);
    width: 80px;
    height: 20px;
    text-align: center;
    padding: 0;
    cursor: pointer;
}

.search_btn:hover {
    transform: scale(1.1);
}

.search_btn:active {
    color: white;
    background-color: var(--red);
    border: none;
}

/*-------------Body-------------*/

body {
    width: 100vw;
    flex-direction: column;
    transition: 1s;
    /* transition: background 0.2s linear; */
}

/*-------------Mudança de Modo (body, header e botão de pesquisa)-------------*/

.dark {
    background-color: rgb(12, 12, 12);
}

.light {
    background-color: white;
}

/*-------------Mudança de Modo (label do Modo Escuro)-------------*/

.light_dark {
    background-color: rgb(46, 46, 46);
}

.dark_font {
    color: var(--red);
}

.light_font {
    color: black;
}

.black_font {
    color: black;
}

.black_font:hover {
    color: white;
}

.white_font {
    color: white;
}

.white_font:hover {
    color: black;
}

.white_only_font {
    color: white;
}

/*-------------Div Geral do Modal-------------*/

dialog {
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #000000e8;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;
    flex-direction: column;
}

dialog[open] {
    display: flex;
}

#modal {
    justify-content: space-between;
    border: 2px solid var(--red);
    flex-direction: column;
    width: 400px;
    height: fit-content;
    border-radius: 10px;
    overflow: hidden;
}

/*-------------Botão de Fechar Modal-------------*/

#close_modal {
    color: rgb(255, 255, 255);
    width: 100%;
    height: 35px;
    font-size: 25px;
    align-items: center;
    justify-content: space-around;
    gap: 95px;
    border-bottom: 2px inset var(--red);
}

#close_modal>p {
    color: var(--green);
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-wrap: nowrap;
}

#close_modal>i:first-of-type {
    color: grey;
}

#close_modal>i {
    z-index: 1;
    width: fit-content;
    font-size: 25px;
}

#close_modal>i:hover {
    color: var(--red);
}

/*-------------Modal de Exclusão de Jogos-------------*/

.deleteGameModal {
    background-color: #00000030;
    height: 100vh;
    width: 100vw;
}

.deleteGameModalHeaderContainer {
    justify-content: space-around;
    gap: 100px;
    align-items: center;
    width: 100%;
    height: 35px;
    border-bottom: 2px solid var(--red);
}

.deleteGameModalHeaderContainer>i:first-of-type {
    color: grey;
}

.deleteGameModalWindow {
    justify-content: start;
    width: 400px;
    height: 260px;
    border: 2px solid var(--red);
    border-radius: 10px;
    flex-direction: column;
    gap: 50px;
}

.deleteGameModalTitle {
    width: 115px;
    text-align: center;
    color: var(--red);
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
    padding: 0;
}

.deleteGameModalMessage {
    color: var(--red);
    font-size: 1rem;
    font-weight: 700;
    background-color: transparent;
}

.deleteButtonsContainer {
    gap: 50px;
}

#deleteYesButton {
    color: var(--green);
    border: 2px solid var(--green);
    font-weight: 700;
    background-color: transparent;
}

#deleteNoButton {
    color: var(--red);
    border: 2px solid var(--red);
    font-weight: 700;
    background-color: transparent;
}

#deleteNoButton:hover,
#deleteYesButton:hover {
    transform: scale(1.2);
    transition: 0s;
    box-shadow: 5px 9px 22px -2px rgba(0, 0, 0, 0.63);
}

/*-------------Modal de Finalização-------------*/

.gameModalContainer {
    background-color: #00000030;
    height: 100vh;
    width: 100vw;
}

.gameModalClosureContainer {
    justify-content: space-around;
    gap: 100px;
    align-items: center;
    width: 100%;
    height: 35px;
    border-bottom: 2px solid var(--red);
}

.gameModalClosureTitle {
    width: 115px;
    text-align: center;
    color: var(--red);
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
}

.gameModalClosureContainer>i:first-of-type {
    color: grey;
}

.gameModalClosureWindow {
    justify-content: start;
    width: 400px;
    height: 260px;
    border: 2px solid var(--red);
    border-radius: 10px;
    flex-direction: column;
    gap: 50px;
}

.gameModalClosureMessage {

    color: var(--green);
}

.gameModalClosureWindow>p {
    font-size: 1rem;
    font-weight: 700;
    background-color: transparent;
}

#modalClosureButton {
    width: fit-content;
    color: var(--red);
    border-color: var(--red);
}


/*-------------Inputs do Slide-------------*/

.select_slide_options {
    display: none;
    gap: 20px;
}

.select_slide_options>input {
    width: fit-content;
    cursor: pointer;
}

.active {
    background-color: var(--red);
}

/*-------------Formulário do Modal-------------*/

#form {
    display: flex;
    margin: 5px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    flex-direction: column;
    gap: 15px;
}

/*-------------Labels dos Inputs do Slide-------------*/

.select_slide_options_labels {
    width: 100%;
    height: 20px;
    gap: 20px;
}

.select_slide_options_labels>label {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.slides_labels {
    cursor: pointer;
}

/*-------------Inputs do Modal-------------*/

#form input[type=text] {
    height: 40px;
    border-radius: 10px;
}

#form input[type=submit] {
    color: var(--green);
    border: 1px solid var(--green);
}

#form input[type=reset] {
    color: var(--red);
    border: 1px solid var(--red);
}

#form input[type=submit],
#form input[type=reset] {
    background-color: transparent;
    font-weight: bolder;
    padding: 0;
    height: 25px;
}

#form input[type=submit]:hover,
#form input[type=reset]:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/*-------------Inputs das Opções de Formulário-------------*/


input {
    color: black;
    font-size: 1rem;
    border: none;
    width: 300px;
    border-radius: 4px;
    padding-left: 0.8rem;
    outline: none;
}

label {
    color: var(--red);
    font-weight: bold;
    left: 0;
    bottom: 0;
    width: fit-content;
    height: 100%;
}

/*-------------Opções do Formulário-------------*/

.game_options {
    position: relative;
    gap: 95px;
    transition: 1s;
}

/*-------------Fieldset do Formulário-------------*/

fieldset {
    border: 1px solid var(--red);
    width: 210px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
}

fieldset>input,
#gamelinkextra {
    width: 100px;
    background-color: transparent;
    border-bottom: 2px solid var(--red);
    transition: 0.2s;
}

fieldset>input:focus,
#gamelinkextra:focus{
    width: 200px;
}

fieldset>h1 {
    color: var(--red);
    background-color: transparent;
    font-weight: bolder;
    font-size: 1.3rem;
}

fieldset>legend {
    color: var(--red);
    font-weight: bolder;
}

/*-------------Opções Gerais do Formulário-------------*/

#gamedescription,
#gameminimumrequirements,
#gamerecommendedrequirements {
    display: flex;
    flex-direction: column;
    border: none;
}

#gameminimumrequirements,
#gamerecommendedrequirements {
    gap: 17px;
}

/*-------------Opção de Descrição do Jogo-------------*/

#gamedescription {
    gap: 5px;
}

#yesbtn,
#nobtn {
    width: 50px;
}

.select_extra_download {
    display: none;
    flex-direction: column;
}

/*-------------Botões de Cadastrar ou Limpar Dados do Jogo-------------*/

.input_btns {
    gap: 20px;
}

.input_btns>input {
    width: 100px;
}

/*-------------Main-------------*/

#mainContent {
    width: 100vw;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 2.5rem;
    column-gap: 5rem;
    padding: 1.25rem 5rem 1.25rem 5rem;
}

/*-------------Container Para Adição de Jogo-------------*/

.add_game {
    position: static;
    width: 17.125rem;
    height: 24.188rem;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    flex-direction: column;
    gap: 40px;
    cursor: pointer;
    box-shadow: 7px 3px 19px #0000009e;
}

.add_game:hover {
    transform: scale(1.02);
}

.add_game>i {
    color: rgb(255, 255, 255);
    background-color: rgb(56, 56, 56);
    border-radius: 50%;
}

/*-------------Card do Jogo-------------*/

.gameContent {
    position: static;
    width: 17.125rem;
    height: 24.188rem;
    background: none;
    border-radius: 10px;
    top: 50%;
    left: 50%;
}

.card {
    position: relative;
    top: 0;
    left: 0;
    width: 17.125rem;
    height: 24.188rem;
    box-shadow: 7px 3px 19px #0000009e;
    border-radius: 0.625rem;
    transform-style: preserve-3d;
    transition: all 1s ease;
}

.card:hover {
    cursor: pointer;
}

.card_front {
    position: absolute;
    top: 0;
    left: 0;
    width: 17.125rem;
    height: 24.188rem;
    border-radius: 0.625rem;
    backface-visibility: hidden;
    overflow: hidden;
    color: #000;
}

.card_overlay {
    flex-direction: column;
    gap: 30px;
    z-index: 1;
    border-radius: 0.625rem;
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.733);
    opacity: 0;
}

.card_overlay:hover {
    transition: 1s;
    opacity: 1;
}

.delete_btn {
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    padding: 0;
    position: fixed;
    top: 10px;
    right: 10px;
}

.delete_btn:hover {
    transform: scale(1.2);
    background-color: transparent;
}

.delete_btn>i {
    color: white;
    background-color: var(--red);
    border-radius: 50%;
}



.card_back {
    z-index: 2;
    position: absolute;
    justify-content: unset;
    gap: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.625rem;
    backface-visibility: hidden;
    overflow: hidden;
    color: #ffffff;
    text-align: center;
    transform: rotateY(180deg);
    padding: 10px 0;
    flex-direction: column;
    overflow: scroll;

}

.recommendedrequirements,
.minimumrequirements {
    flex-direction: column;
}

.sectionbtn {
    display: flex;
    padding: 5px;
    width: 100%;
    gap: 10px;
}

.sectionbtn>button {
    background-color: rgb(0, 0, 0);
    border: 1px solid var(--red);
    color: white;
    font-size: medium;
    width: 120px;
}

.sectionbtn>button:hover {
    background-color: black;
    border: 1px solid white;
    color: var(--red);
    font-size: medium;
}

/*-------------Descrição-------------*/

h1,
h3,
p {
    background-color: black;
    width: fit-content;
}

h1 {
    padding: 5px;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
}

.description,
.minimumrequirements {
    font-size: 0.7rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.description_item {
    flex-direction: row;
    gap: 0.313rem;
}

h3 {
    border-radius: 10px;
    padding: 5px;
    font-size: 12px;
    font-weight: bolder;
}

p {
    border-radius: 10px;
    font-size: 9px;
    font-weight: 500;
    padding: 5px 10px;
}

/*-------------Capa do Jogo-------------*/

.game_cover {
    width: 17.125rem;
    height: 24.188rem;
    border-radius: 0.313rem;
}

/*-------------Botão de Download Principal-------------*/

button {
    box-shadow: 0 15px 22px #0000002a;
    gap: 0.625rem;
    width: 12.5rem;
    height: 2.313rem;
    border: none;
    border-radius: 0.313rem;
    background-color: transparent;
    border: 2px solid var(--green);
    color: var(--green);
    font-size: large;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}

button.mega {
    background-color: var(--red);
    color: var(--white);
}

button.mega:hover {
    background-color: var(--red_active);
    color: var(--mega_font_active);
}

/*-------------Ícone do Botão-------------*/

button>img {
    width: 2rem;
    margin: 0;
}

/*-------------Botão Adicional-------------*/

.extra {
    font-size: 1rem;
    background-color: var(--extra_btn);
    color: var(--white);
    height: 1.5rem;
}

.extra:hover {
    background-color: var(--extra_btn_active);
}

div.extra_double {
    gap: 0.425rem;
}

.extra_double>a>.extra {
    width: 5.938rem;
}

/*=======================================*/