/*-------------Regras Gerais-------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --torrent_btn: #008609;
    --torrent_font: #ffffff;
    --torrent_btn_active: #00a00b;
    --torrent_font_active: #ffffff;
    --mega_btn: #d90007;
    --white: #ffffff;
    --mega_btn_active: #ff0008;
    --mega_font_active: #a7a7a7;
    --extra_btn: #000000;
    --extra_btn_active: #242424;
}

/*===========Configs da Scrollbar===========*/

::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 3.125rem;
    background-color: red;
    /* border: 2px solid rgb(73, 73, 73); */
}

/* ::-webkit-scrollbar-track {
    background: rgb(73, 73, 73);
    border-radius: 10px;
} */

/*-------------Keyframes-------------*/

@font-face {
    font-family: 'Font';
    src: url(../fonts/typo_round/Typo_Round_Regular_Demo.otf);
}

/*-------------Unificações-------------*/

div,
.search_input,
.delete_btn,
.link,
span,
abbr,
.bar,
.dropdown,
.dropdown_item>a,
fieldset,
button {
    display: flex;
    align-items: center;
    justify-content: center;
}

body,
main,
.mode_label,
.main_menu_item,
.dropdown_items,
i,
#form,
#formback,
fieldset,
.description,
.minimumrequirements,
#mainContent {
    display: flex;
}



/*-------------Header-------------*/

header {
    z-index: 1;
    width: 100%;
    height: 55px;
    color: red;
    text-align: center;
    border-bottom: 2px solid black;
    background-color: white;
    transition: 0.5s;
}

/*-------------Menu de Navegação-------------*/

nav {
    width: 100%;
    /* background-color: #000000; */
}

.main_menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
}

/*-------------Botão de Abrir Modal-------------*/

.add_game {
    font-weight: bolder;
    font-size: 1rem;
    width: 130px;
    height: 30px;
    color: white;
    background-color: green;
    border-radius: 10px;
}

.add_game:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgb(109, 180, 2);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349);
    border: none;
}

.delete_game{
    font-weight: bolder;
    font-size: 1rem;
    width: 170px;
    height: 30px;
    color: white;
    background-color: rgb(197, 0, 0);
    border-radius: 10px;
}

.delete_game:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgb(255, 36, 36);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349);
    border: none;
}

/*-------------Botão de Fechar Modal-------------*/

#close_modal {
    color: rgb(255, 255, 255);
    width: 100%;
    height: 50px;
    font-size: 25px;
    justify-content: flex-end;
    align-items: center;
}

#close_modal>i{
        z-index: 1;
        width: fit-content;
        font-size: 25px;
        margin: 15px 15px;
        position: absolute;
}

#close_modal>i:hover {
    color: red;
}

/*-------------Itens Principais do Menu de Navegação-------------*/

.main_menu_item {
    width: 127px;
    height: 55px;
    justify-content: center;
}

.link {
    /* width: 127px; */
}

.main_menu_item>a>i, .bi{
    font-size: 25px;
    color: red;
}

.main_menu_item>a>i:hover,
.dropdown>i:hover {
    padding: 5px;
    border-bottom: 2px solid red;
}

.main_menu_item>a>i:hover,
.main_menu_item.dropdown>i:hover {
    transform: scale(1.2);
}

.main_menu_item>a>i::after,
.main_menu_item.dropdown>i::after {
    color: red;
}

/*-------------Item Dropdown do Menu de Navegação-------------*/

.dropdown {
    z-index: 1;
    gap: 5px;
    flex-direction: column;
    position: relative;
}

.dropdown>i{
    position: absolute;
}

.dropdown_items {
    margin-top: 70px;
    height: 0px;
    display: none;
    gap: 10px;
    flex-direction: column;
}

.dropdown_item {
    background-color: #cfcfcff2;
    border-radius: 10px;
    width: 170px;
    height: 30px;
    padding: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.322);
}

.dropdown_item>a {
    color: black;
    font-weight: bolder;
    width: 100%;
    height: 100%;
}

.dropdown_item>a:hover {
    color: red;
    transform: scale(1.1);
}

/*-------------Botão de Troca de Modo-------------*/

.mode_label {
    width: 55px;
    height: 26px;
    align-items: center;
    background-color: yellow;
    border-radius: 50px;
    margin: 5px;
    justify-content: space-evenly;
    position: relative;
}

.checkbox {
    cursor: pointer;
    width: 55px;
    height: 26px;
    opacity: 0;
    position: absolute;
}

.checkbox:checked+.mode_label .ball {
    transform: translateX(29px);
}

.mode_label>i {
    margin: 0;
    font-size: 16px;
    position: relative;
}

.bi-sun-fill {
    color: yellow;
}

.bi-moon-fill {
    color: grey;
}

.mode_label .ball {
    z-index: 1;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.ball:hover {
    background-color: red;
}

/*-------------Input de Caixa de Pesquisa-------------*/

.search_input{
    width: fit-content;
    height: fit-content;
    gap: 10px;
}

.search_box{
    width: 200px;
    height: 30px;
    border: 1px solid black;
}

.search_box:active{
    background-color: #008609;
}

.search_btn{
    color: black;
    font-size: 12px;
    background-color: transparent;
    border: 1px solid black;
    width: 80px;
    height: 20px;
    text-align: center;
    padding: 0;
    cursor: pointer;
}

.search_btn:hover{
    color: white;
    background-color: black;
}

.search_btn:active{
    color: white;
    background-color: red;
    border: none;
}

/*-------------Body-------------*/

body {
    width: 100vw;
    flex-direction: column;
    transition: 0.5s;
    /* transition: background 0.2s linear; */
}

/*-------------Mudança de Modo (body, header e botão de pesquisa)-------------*/

.dark {
    color: white;
    background-color: rgb(12, 12, 12);
    border-color: white;
}

/*-------------Mudança de Modo (label do Modo Escuro)-------------*/

.light_dark{
    background-color: grey;
}



/*-------------Div Geral do Modal-------------*/

dialog {
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #000000b8;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;
    flex-direction: column;
}

dialog[open] {
    display: flex;
}

.modal {
    justify-content: space-between;
    /* gap: 20px; */
    /* background-color: #0e0e0ede; */
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
}

/*-------------Formulário do Modal-------------*/

#form {
    display: flex;
    margin: 5px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    flex-direction: column;
}

/*-------------Inputs do Modal-------------*/

#form input[type=text] {
    color: black;
    height: 40px;
    border-radius: 10px;
}

#form input[type=submit],
#form input[type=reset] {
    background-image: linear-gradient(to left, rgb(129, 0, 0), rgb(153, 0, 0), red);
    height: 25px;
}

#form input[type=submit]:hover,
#form input[type=reset]:hover {
    cursor: pointer;
    background-image: linear-gradient(to right, rgb(129, 0, 0), rgb(153, 0, 0), red);
}

/*-------------Inputs das Opções de Formulário-------------*/


input {
    color: black;
    font-size: 1rem;
    border-style: none;
    border-color: white;
    width: 300px;
    border-radius: 4px;
    padding-left: 0.8rem;
    outline: none;
}

label {
    color: white;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/*-------------Opções do Formulário-------------*/

.game_options {
    gap: 30px;
}

/*-------------Fieldset do Formulário-------------*/

fieldset {
    color: white;
    width: 210px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
}

/*-------------Opções Gerais do Formulário-------------*/

#gamedescription,
#gameminimumrequirements,
#gamerecommendedrequirements {
    display: flex;
    flex-direction: column;
    border: none;
}

#gameminimumrequirements,
#gamerecommendedrequirements {
    gap: 17px;
}

/*-------------Opção de Descrição do Jogo-------------*/

#gamedescription {
    gap: 5px;
}

#yesbtn,
#nobtn {
    width: 50px;
}

.select_extra_download {
    display: none;
    flex-direction: column;
}

/*-------------Label dos Inputs das Opções de Formulário-------------*/

.navigation {
    margin-bottom: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar {
    width: 15px;
    height: 15px;
    margin: 6px;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: all;
    transform: .5s ease;
}

.bar:hover {
    color: black;
    background-color: white;
}

/*-------------Botões de Cadastrar ou Limpar Dados do Jogo-------------*/

.input_btns {
    gap: 20px;
}

.input_btns>input {
    width: 100px;
}


/*-------------Botão de Adicionar Jogo-------------*/



.bi:hover {
    cursor: pointer;
}

/*-------------Main-------------*/

#mainContent {
    width: 100vw;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 2.5rem;
    column-gap: 5rem;
    padding: 1.25rem 5rem 1.25rem 5rem;
}

/*-------------Card do Jogo-------------*/

.gameContent {
    position: static;
    width: 17.125rem;
    height: 24.188rem;
    background: none;
    border-radius: 10px;
    top: 50%;
    left: 50%;
}

.card {
    position: relative;
    top: 0;
    left: 0;
    width: 17.125rem;
    height: 24.188rem;
    box-shadow: 7px 3px 19px #0000009e;
    border-radius: 0.625rem;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}

.card:hover {
    cursor: pointer;
}

.card_front {
    position: absolute;
    top: 0;
    left: 0;
    width: 17.125rem;
    height: 24.188rem;
    border-radius: 0.625rem;
    backface-visibility: hidden;
    overflow: hidden;
    color: #000;
}

.card_overlay {
    flex-direction: column;
    gap: 30px;
    z-index: 1;
    border-radius: 0.625rem;
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.733);
    opacity: 0;
}

.card_overlay:hover {
    transition: 1s;
    opacity: 1;
}

.delete_btn{
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    padding: 0;
    position: fixed;
    top: 10px;
    right: 10px;
}

.delete_btn>i{
    color: white;
    background-color: red;
    border-radius: 50%;
}

.delete_btn:hover{
    transform: none;
    background-color: transparent;
}

.card_back {
    z-index: 2;
    position: absolute;
    justify-content: unset;
    gap: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.625rem;
    backface-visibility: hidden;
    overflow: hidden;
    background: #fafafa;
    color: #ffffff;
    text-align: center;
    transform: rotateY(180deg);
    padding: 10px 0;
    flex-direction: column;
    overflow: scroll;

}

.recommendedrequirements,
.minimumrequirements {
    flex-direction: column;
}

/* .recommendedrequirements{
    display: none;
} */

.sectionbtn {
    display: flex;
    padding: 5px;
    width: 100%;
    gap: 10px;
}

.sectionbtn>button {
    background-color: rgb(0, 0, 0);
    border: 1px solid red;
    color: white;
    font-size: medium;
    width: 120px;
}

.sectionbtn>button:hover {
    background-color: black;
    border: 1px solid white;
    color: red;
    font-size: medium;
}

/*-------------Descrição-------------*/

h1 {
    width: 154px;
    background-color: red;
    padding: 5px;
    border-radius: 10px;
    font-size: 1.3rem;
    text-align: center;
}

.description,
.minimumrequirements {
    font-size: 0.7rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.description_item {
    flex-direction: row;
    gap: 0.313rem;
}

h3 {
    width: 154px;
    background-color: black;
    border-radius: 10px;
    padding: 5px;
    font-size: 1rem;
    font-weight: bolder;
}

p {
    background-color: #d90007;
    border-radius: 10px;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 5px;
}

/*-------------Capa do Jogo-------------*/

.game_cover {
    width: 17.125rem;
    height: 24.188rem;
    border-radius: 0.313rem;
}

/*-------------Botão de Download Principal-------------*/

button {
    box-shadow: 0 15px 22px #0000002a;
    gap: 0.625rem;
    width: 12.5rem;
    height: 2.313rem;
    border: none;
    border-radius: 0.313rem;
    background-color: var(--torrent_btn);
    color: var(--torrent_font);
    font-size: large;
}

button:hover {
    background-color: var(--torrent_btn_active);
    color: var(--torrent_font_active);
    cursor: pointer;
    transform: scale(1.02);
    transition: 0.5s;
}

button.mega {
    background-color: var(--mega_btn);
    color: var(--white);
}

button.mega:hover {
    background-color: var(--mega_btn_active);
    color: var(--mega_font_active);
}

/*-------------Ícone do Botão-------------*/

button>img {
    width: 2rem;
    margin: 0;
}

/*-------------Botão Adicional-------------*/

.extra {
    font-size: 1rem;
    background-color: var(--extra_btn);
    color: var(--white);
    height: 1.5rem;
}

.extra:hover {
    background-color: var(--extra_btn_active);
}

div.extra_double {
    gap: 0.425rem;
}

.extra_double>a>.extra {
    width: 5.938rem;
}

/*=======================================*/